body{
    overflow: hidden;
}
.container{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    position :absolute;
     overflow-y: hidden;
     overflow-x: hidden;
   
    
}

#heading{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top:60px;
    font-weight: bold;
    font-size: 80px;
    color: aliceblue;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#bkimg{
    position : absolute;
    z-index: -1;
    width: 100%;
    height : 100%
}

#text{
    font-weight: bold;
    
    font-size: larger;
    font-family: "Helvetica Neue","Helvetica","Arial";
} 

#cityName{
    border-radius: 10px;
    padding : 5px;
    color: aqua;
    border: 3px;
}

 
.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.button {
    background-color: #80f9fb; 
    border-radius: 5px;
    border: none;
    color: white;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }